{% extends 'base.html.twig' %}

{% block title %}Ma-ré-création-Jean{% endblock %}

{% block body %}
    <header id="header_website">
        <div class="header_title">
            <h1>Ma ré-création-jeans</h1>
        </div>
        <nav class="navbar">
            <ul class="navbar_links">
                <li class="navbar_link"><a href="#" class="navbar_link_item">Accueil</a></li>
                <li class="navbar_link"><a href="#" class="navbar_link_item">Produits</a></li>
                <li class="navbar_link"><a href="#" class="navbar_link_item">Compte</a></li>
                <li class="navbar_link"><a href="#" class="navbar_link_item">Panier</a></li>
            </ul>
        </nav>
        <button class="burger">
            <span class="bar"></span>
        </button>
    </header>

    <main>
        {# 1ere section #}
        <section id="main_section_carrousel">
            <header id="carrousel">
                <article id="carrousel_container"></article>
                <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="precedent" class="bouton" id="btn_gauche">
                <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="suivant" class="bouton" id="btn_droite">
            </header>
            <article class="myDot">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </article>
        </section>

        {# 2eme section #}
        <section id="main_section_nouvelAjout">
            <header class="my_carrousel colonne1">
                <article class="my_carrousel_container"></article>
                <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="precedent" class="bouton my_btn my_btn_gauche">
                <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="suivant" class="bouton my_btn my_btn_droite">
            </header>
            <article class="myDot">
                <span class="myDot_dot"></span>
                <span class="myDot_dot"></span>
                <span class="myDot_dot"></span>
                <span class="myDot_dot"></span>
                <span class="myDot_dot"></span>
            </article>
            <article id="section_ajout_galleries">
                <h1>galleries d'images</h1>
            </article>
        </section>

        {# 3 eme section #}
        <section id="main_section_creatrice">
            <header id="section_creatrice">
                <h1>presentation de la creatrice</h1>
            </header>
            <article id="section_creatrice_apropos">
                <h1>histoire de la creatrice</h1>
            </article>
        </section>
    </main>

    <footer>
        <h4>Créé par Ma-ré-création-jean</h4>
    </footer>
{% endblock %}
