{% extends 'base.html.twig' %}

{% block title %}Ma-ré-création-Jean{% endblock %}

{% block body %}
    <header>
        <h1>MA RE-CREATION-JEAN</h1>
        <nav>
            <ul class="linkNav cadrer">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Produits</a></li>
            </ul>
        </nav>
        <section class="sectionHeader">
            <ul class="linkSection cadrer">
                <li><a href="#">Compte</a></li>
                <li><a href="#">Panier</a></li>
            </ul>
            <button class="burger cadrer">
                <span class="bar"></span>
            </button>
        </section>
    </header>

    <main></main>

    <footer>
        <h4>Créé par Ma-ré-création-jean</h4>
    </footer>
{% endblock %}
