{% extends 'base.html.twig' %}

{% block title %}Ma-ré-création-Jean{% endblock %}

{% block body %}
    <header>
        <div class="header_title">
            <h1>Ma ré-création-jeans</h1>
        </div>
        <nav class="navbar">
            <ul class="navbar_links">
                <li class="navbar_link"><a href="#">Accueil</a></li>
                <li class="navbar_link"><a href="#">Produits</a></li>
                <li class="navbar_link"><a href="#">Compte</a></li>
                <li class="navbar_link"><a href="#">Panier</a></li>
            </ul>
        </nav>
        <button class="burger">
            <span class="bar"></span>
        </button>
    </header>

    <main></main>

    <footer>
        <h4>Créé par Ma-ré-création-jean</h4>
    </footer>
{% endblock %}
