<header class="carrousel_client">
    <article class="carrousel_container_client"></article>
    <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="precedent" class="bouton_client btnGauche">
    <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="suivant" class="bouton_client btnDroite">
</header>
<article class="clientDot">
    <span class="clientDot_dot"></span>
    <span class="clientDot_dot"></span>
    <span class="clientDot_dot"></span>
    <span class="clientDot_dot"></span>
    <span class="clientDot_dot"></span>
</article>