<header class="carrousel_manuel">
    <article class="carrousel_container_manuel"></article>
    <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="precedent" class="bouton_manuel btnGauche">
    <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="suivant" class="bouton_manuel btnDroite">
</header>
<article class="manuelDot">
    <span class="manuelDot_dot"></span>
    <span class="manuelDot_dot"></span>
    <span class="manuelDot_dot"></span>
    <span class="manuelDot_dot"></span>
    <span class="manuelDot_dot"></span>
</article>