<header class="my_carrousel colonne1">
    <article class="my_carrousel_container"></article>
    <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="precedent" class="bouton my_btn my_btn_gauche">
    <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="suivant" class="bouton my_btn my_btn_droite">
</header>
<article class="myDot">
    <span class="myDot_dot"></span>
    <span class="myDot_dot"></span>
    <span class="myDot_dot"></span>
    <span class="myDot_dot"></span>
    <span class="myDot_dot"></span>
</article>