<h1 class="titre_carrousel">les derniers arrivés</h1>
<header class="my_carrousel">
    <article class="my_carrousel_container"></article>
    <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="precedent" class="bouton_manuel btnGauche">
    <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="suivant" class="bouton_manuel btnDroite">
</header>
{#<article class="manuelDot">#}
{#    <span class="manuelDot_dot"></span>#}
{#    <span class="manuelDot_dot"></span>#}
{#    <span class="manuelDot_dot"></span>#}
{#    <span class="manuelDot_dot"></span>#}
{#    <span class="manuelDot_dot"></span>#}
{#</article>#}