    <header id="carrousel">
        <article id="carrousel_container">
        </article>
        <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="precedent" class="bouton" id="btn_gauche">
        <img src="{{ asset('build/images/carrouselManuel/next.png') }}" alt="suivant" class="bouton" id="btn_droite">
    </header>
    <article class="autoDot">
        <span class="autoDot_dot"></span>
        <span class="autoDot_dot"></span>
        <span class="autoDot_dot"></span>
        <span class="autoDot_dot"></span>
        <span class="autoDot_dot"></span>
    </article>
