{% extends 'home/index.html.twig' %}

{% block title %}Ma-ré-création-Jeans | Administration{% endblock %}

{% block header %} {% endblock %}

{% block main_section_1 %}

    <main id="admin_main">

        <section id="admin_section_main_1">
            <nav  class="mt-5">
                <ul>
                    <li><i class="fa-solid fa-house"></i> <a href="{{ path('app_admin_dashboard') }}"> Home</a></li>
                    <li><i class="fa-solid fa-user"></i> <a href="{{ path('app_admin_crud_client') }}"> Clients</a></li>
                </ul>
            </nav>
        </section>

        <section id="admin_section_main_2">
            {% block admin_section_main_2 %}
            {% endblock %}
        </section>

    </main>

{% endblock %}

{% block main_section_2_1 %}

{% endblock %}

{% block main_section_2_2 %}

{% endblock %}

{% block main_section_3_1 %}

{% endblock %}

{% block main_section_3_2 %}

{% endblock %}

{% block footer %}

{% endblock %}
