// FIRST MOBILE
:root {
    --colorBlack: rgb(0,0,0);
    --colorTest: rgb(75, 222, 222);
    --colorTitle: rgb(215, 219, 221);
    --transition_0: translateX(0%);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
}

//INDEX.HTML
body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

.header_title h1 {
    font-size: 4vh;
    text-align: center;
    text-transform: uppercase;
    color: var(--colorTitle);
    background-color: var(--colorBlack);
}

.navbar {
    padding: 10px;
    transform: translateX(100%);
    transition: transform 2s ease-in-out;
    background-color: red;
}

.navbar_links {
    visibility: collapse;
}

.navbar_link {
    padding: 0 10px;
}

.navbar_link > a {
    color: var(--colorTitle);
    padding: 0 10px;
}

//Bouton hamburger
.burger {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    height: 4px;
    background-color: var(--colorTitle);
    border-radius: 3px;
    transition: all 2s ease-in-out;
}

.bar::before, .bar::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    position: absolute;
    left: 0;
    background-color: var(--colorTitle);
    border-radius: 3px;
    transition: all 2s ease-in-out;
}
.bar::before {
    transform: translateY(-12px);
}

.bar::after {
    transform: translateY(12px);
}

main {

}

footer {

}

//GESTION DU BOUTON HAMBURGER AVEC LE JS
    .open-nav {
        overflow:hidden;
        height: 50vh;
        width: 100%;
        background-color: var(--colorBlack);
        transform: var(--transition_0);
        transition: transform 2s ease-in-out;
    }

    .open-nav .navbar_links {
        display: flex;
        flex-direction: column;
        transition: all 1s ease-in-out;
    }

    .open-nav .navbar_link  {
        visibility: visible;
        padding: 1.5em;
        transform: var(--transition_0) ;
        transition: all 2s ease-in-out;
    }

    .menu .bar {
        width: 0;
        background: transparent;
    }

    .menu .bar::before {
        transform: rotate(45deg);
    }

    .menu .bar::after {
        transform: rotate(-45deg);
    }



@media screen and (max-width: 1000px) {
    //.navbar {
    //    transform: translateX(0);
    //    background-color: blue;
    //}

}