* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

header h1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
}

nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

nav ul {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

ul li {
    list-style-type: none;
}

li {
    margin-right: 1em;
    margin-left: 1em;
}

.sectionHeader {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.sectionHeader ul {
    grid-row-start: 1;
    grid-row-end: 2;
}

.sectionHeader ul {
    justify-content: end;
}

.cadrer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}


.burger {
    display: none;
}

main {

}

footer {

}

@media screen and (max-width: 770px){
    //nav {
    //    visibility: hidden;
    //}
    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    header h1 {
        //grid-column-start: 1;
        //grid-column-end: 2;
        //grid-row-start: 1;
        //grid-row-end: 2;
        justify-self: center;
    }

    nav {
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .sectionHeader {
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }




    .open-nav {
        display: flex;
        flex-direction: column;
    }
    .burger {
        grid-row-start: 1;
        grid-row-end: 2;
        display: block;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 40px;
        height: 4px;
        background-color: grey;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }

    .open .bar {
        width: 0;
        background: transparent;
    }

    .bar::before, .bar::after {
        content: "";
        display: block;
        width: 40px;
        height: 4px;
        position: absolute;
        left: 0;
        background-color: grey;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }
    .bar::before {
        transform: translateY(-12px);
    }

    .open .bar::before {
        transform: rotate(45deg);
    }

    .bar::after {
        transform: translateY(12px);
    }

    .open .bar::after {
        transform: rotate(-45deg);
    }
}
