// FIRST MOBILE
:root {
  --colorBlack: rgb(28, 82, 159);
  --colorTest: rgb(75, 222, 222);
  --colorTitle: rgb(215, 219, 221);
  --transition_0: translateX(0%);
  --heightNavbar: 100vh;
  --padding1vh: 1vh;
}

@media all {
  * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
    font-size: 16px;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

 //HEADER
  #header_website {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    height: 6vh;
    display: flex;
    flex-direction: row;
    padding: var(--padding1vh);
    background-color: var(--colorBlack);
  }

  #header_website a {
    text-decoration: none;
    color: var(--colorTitle);
  }

  .header_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
  }

  .header_title h1 {
    font-size: 1.5em;
  }

  .navbar_link {
    padding: 1em;
  }

  .navbar_link:hover {
    background-color: red;
  }

  .navbar_link_item {
    color: var(--colorTitle);
  }

  .navbar_link_item:hover {
    background-color: var(--colorTest);
  }

  #navbar {
    display: flex;
    justify-content: flex-start;
  }

  #navbar_2 {
    display: flex;
    justify-content: flex-end;
  }


//CORPS
  main {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.50fr 0.80fr 1fr;
    gap: 2vh;
    justify-content: center;
    align-self: center;
    width: 100%;
  }


  //1ere section
  #main_section_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  //2eme section
  #main_section_2 {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #section_2_1, #section_2_2  {
    padding: 1vh 1vw;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }


  //3eme section
  #main_section_3 {
    width: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
  }

  #section_3_1, #section_3_2  {
    padding: 1vh 1vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
  }


  #section_3_1 {
    flex-direction: row;
  }

  #section_3_2 {
    flex-direction: row-reverse;
  }


  #section_3_1 header, #section_3_2 header, #section_3_1 article, #section_3_2 article {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #section_3_1 article h1, #section_3_2 article h1 {
    text-transform: uppercase;
  }


  .imgCreatrice {
    width: 100%;
    height: 100%;
    align-self: center;
  }

  .img-monImage {
    width: 80%;
    height: 80%;
    box-shadow: 1px 1px 0px 20px rgb(0 0 0 / 33%);
  }



  footer {
    margin-top: 1vh;
    padding: 1vh 1vw;
    position: relative;
    bottom: 0;
    height: 40vh;
    color: white;
    background-color: var(--colorBlack);
    display: flex;
    flex-direction: column;
  }

  footer h4,  .header_title h1, #section_3_1 article h1, #section_3_2 article h1 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-self: center;
    text-transform: uppercase;
  }

}