* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 16px;
}

#admin_main {
  margin-top: 1vh;
  width: 94%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

#admin_section_main_1 {
  width: 20%;
  height: 100%;
  background-color: lightgrey;
}

#admin_section_main_2 {
  background-color: linen;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

a {
  margin-right: 1vw;
}

ul li {
  margin: 1vh auto;
}

.form-check {
  display: inline-block;
  min-height: 0;
  margin-left: 2%;
}

.crud_lien {
  margin-top: 3vh;
  margin-bottom: 0;
  display: flex;
  width: 100%;
  justify-content: end;
}

.infoHome {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#infoHome_art1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#infoHome_art2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

