:root {
  --hauteurCadre: 100%;
}

//Carrousel
#carrousel_auto {
  width: 100%;
  height:  var(--hauteurCadre);
  border: 1px solid #afafaf;
  box-shadow: 0 0 14px rgba(0,0,0,0.3);
  position: relative;
  overflow: hidden;
}

#carrousel_container_auto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.autoDot {
  text-align: center;
}

.autoDot_dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.photo {
  height: auto;
  width: 100%;
  margin: 2vh 1vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 0 50px rgb(0 0 0 / 50%);
}

.bouton {
  position: absolute;
  width: 4vw;
  cursor: pointer;
  top: calc(var(--hauteurCadre) / 2);
}

#btn_gauche {
  left: 1vw;
  opacity: 0.4;
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

#btn_droite {
  right: 1vw;
  opacity: 0.4;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

#btn_gauche:hover {
  transform: rotate(180deg) scale(1.1);
  opacity: 1;
}

#btn_droite:hover  {
  transform: rotate(0deg) scale(1.1);
  opacity: 1;
}

.active {
  border: 1px solid black;
}

.couleur1 {
  background-color: lightblue;
}
.couleur2 {
  background-color: red;
}
.couleur3 {
  background-color: green;
}
.couleur4 {
  background-color: blueviolet;
}
.couleur5 {
  background-color: darkolivegreen;
}

