// FIRST MOBILE
:root {
  --colorBlack: rgb(28 75 141);
  --colorTest: rgb(75, 222, 222);
  --colorTitle: rgb(215, 219, 221);
  --transition_0: translateX(0%);
  --heightNavbar: 100vh;
  --padding1vh: 1vh;
}


//Supérieur à 1000px et inferieur à 1580px
@media screen and (min-width: 1100px) {
  .header_title {
    width: 20%;
  }

  #navbar {
    width: 50%;
  }

  #navbar_2 {
    width: 30%;
  }

}
