// FIRST MOBILE
:root {
  --colorTest: rgb(75, 222, 222);
  --colorTitle: rgb(215, 219, 221);
  --transition_0: translateX(0%);
  --heightNavbar: 100vh;
  --padding1vh: 1vh;
}

//Supérieur ou égale à 768px et inferieur a 1280px
@media screen and (min-width: 768px) and (max-width: 1038px), screen and (min-width: 1039px) {
  .header_title {
    padding-left: 1%;
    width: 30%;
  }

  .header_title h1 {
    text-align: left;
  }

  .navbar {
    position: initial;
    transform: translateX(0%);
    transition: none;
  }

  #navbar {
    width: 40%;
  }

  .navbar_links {
    visibility: visible;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: inherit;
  }

  .burger {
    display: none;
  }
}