{% extends 'admin/admin/admin.html.twig' %}

 {% block admin_section_main_2 %}
     <div class="crud_lien"><a href="">Ajouter une réduction</a></div>
     <div class="table-responsive w-75 mt-2">
         <table class="table">
             <caption>Les réductions</caption>
             <thead>
             <tr>
                 <th scope="col">id</th>
                 <th scope="col">Référence</th>
                 <th scope="col">Désignation</th>
                 <th scope="col">Pourcentage</th>
                 <th scope="col">Montant réduction</th>
                 <th scope="col">Année de la réduction</th>
                 <th scope="col">Créé le</th>
                 <th scope="col">Modifier le</th>
                 <th scope="col">Actions</th>
             </tr>
             </thead>
             <tbody>
             {% if liste_reductions == [] %}
                 <tr>
                     <td colspan="9" class="fw-bold text-danger">AUCUNE REDUCTIONS</td>
                 </tr>
             {% endif %}
             {% for reduction in liste_reductions %}
                 <tr>
                     <th scope="row"></th>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td>
                         <a href="#">voir</a>
                         <a href="#">modifier</a>
                         <a href="#">supprimer</a>
                     </td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>

 {% endblock %}

 {% block admin_section_main_2_2 %}

 {% endblock %}

